// bulma.io CDN. NO LONGER needed because I installed bulma at the ClientApp via npm.
// @import 'https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css';

@import 'bulma/css/bulma.css';

// Load Bulma's base styles and themes (including the minireset)
// @use "bulma/sass/base";
// @use "bulma/sass/themes";

// // Load other Bulma components
// @use "bulma/sass/elements/button";
// @use "bulma/sass/components/message";
// @use "bulma/sass/elements/title";
// // Only load the columns
// @use "bulma/sass/grid/columns";

:root {
  // SDG brand colors
  --asphalt: #2f3737;
  --bright-sky: #80ced2;
  --lime: #b1d133;
  --night-sky: #85577e;
  --sand: #f7f0da;
  --sea: #5a9090;
  --sun: #d5562b;
  --tangerine: #f99d1b;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
